<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width" />
  <title>Load a basic WebMap | Sample | ArcGIS API for JavaScript 4.16</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css" />

  <style>
    html,
    body,
    #viewDiv {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }

    #info {
      margin: 0px;
      padding: 0px;
      box-shadow: none !important;
      background-color: transparent;
    }

    .card h2,
    #dialog-title {
      color: #ed9300;
    }

    #test {
      max-height: 95%;
      margin: 5px 10px;
      overflow: hidden;
    }

    .knapp {
      background-color: #ed9300;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      transition: all 0.5s;
    }

    .knapp:hover {
      background-color: #facd84;
    }

    .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      padding-top: 100px;
      /* Location of the box */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
    }

    .bilder {
      margin: 80px !important;
      max-height: 80vh !important;
    }

    .popup-init,
    .klikkbart {
      cursor: pointer;
    }

    #bilde-viewer {
      box-shadow: 5px 10px 8px #888888;
	  max-width: 650px !important;
    }
  </style>

  <link rel="stylesheet" href="https://js.arcgis.com/4.16/esri/themes/light/main.css" />

  <script>
    window.dojoConfig = {
      packages: [{
        name: "vue",
        location: "https://unpkg.com/vue/dist/",
        main: "vue",
      }, ],
    };
  </script>

  <script src="https://js.arcgis.com/4.16/"></script>

  <script>

    require([
      "esri/views/MapView",
      "esri/WebMap",
      "esri/request",
      "esri/Graphic",
      "esri/widgets/Search",
      "vue",
    ], function (MapView, WebMap, esriRequest, Graphic, Search, Vue) {
      /************************************************************
       * Creates a new WebMap instance. A WebMap must reference
       * a PortalItem ID that represents a WebMap saved to
       * arcgis.com or an on-premise portal.
       *
       * To load a WebMap from an on-premise portal, set the portal
       * url with esriConfig.portalUrl.
       ************************************************************/
      var webmap = new WebMap({
        portalItem: {
          // autocasts as new PortalItem()
          id: "2b2e7fa91b834f368b103a4efacec4dd",
        },
      });
    

      /************************************************************
       * Set the WebMap instance to the map property in a MapView.
       ************************************************************/
      var view = new MapView({
        map: webmap,
        container: "viewDiv",
        spatialReference: {
          wkid: 25833,
        },
      });

      // Lager en vue-komponent
      Vue.component("camera-info", {
        // Viktig!! Når man skal sende inn data fra hoved-vue element, må man sende inn dataene som ett objekt
        props: ["url"],
        data: function () {
          return {
            toggle: "no",
          }
        },

        template: [
          '<div id="bilde-viewer" class="card large" v-if="bilde">',
          '<div class="row">',
          '<div class="col-sm-12 col-md-12 col-lg-12">',
          "<h2>{{vegnr}}</h2>",
          "<p>Dato: {{dato}}</p>",
          '<img id="foo" :src="bilde" alt="" >',
          '<div class="spinner" v-if="!bilde"></div>',
          "<p></p>",
          '<button class="knapp" @click="toggleStortbilde()">Stort bilde</button>',
          '<input type="checkbox" id="modal-control" class="modal" v-model="toggle" true-value="yes" false-value="no">',
          '<div role="dialog" aria-labelledby="dialog-title">',
          '<div id="test" class="card fluid">',
          '<label for="modal-control" class="modal-close" ></label>',
          '<h3 class="section" id="dialog-title">{{vegnr}} <i>({{dato}})</i></h3>',
          "<div>",
          '<img class="section" :src="bilde" alt="" >',
          "</div>",
          '<p class="section"></p>',
          "</div>",
          "</div>",
          "</div>",
          "</div>",
          "</div>",
        ].join(""),

        computed: {
          // Lagrer url til bilde på denne beregnede variablen
          bilde: function () {
            // Try / catch for å fange opp feil
            try {
              return this.url.features[0].properties.URL;
            } catch (error) {
              return "";
            }
          },

          // Lager et sammensatt vegnr basert på flere egenskaper i data-objekt som er sendt inn via props
          vegnr: function () {
            try {
              // Try / catch for å fange opp feil
              let data = this.url;
              return (
                data.features[0].properties.VEGKATEGORI +
                data.features[0].properties.VEGSTATUS +
                data.features[0].properties.VEGNUMMER +
                " S" +
                data.features[0].properties.STREKNING +
                " D" +
                data.features[0].properties.DELSTREKNING +
                " m" +
                Math.round(data.features[0].properties.METER)
              );
            } catch (error) {
              console.log(error, "Feilmelding under lagring av vegnr i vue-komponent");
              return "";
            }
          },

          // Bygger opp en dato-streng basert på tidspunkt-verdi fra kall
          dato: function () {
            // Try / catch for å fange opp feil
            try {
              let dato = new Date(this.url.features[0].properties.TIDSPUNKT);
              let dag =
                ("0" + dato.getDate()).slice(-2) +
                "/" +
                ("0" + (dato.getMonth() + 1)).slice(-2) +
                "/" +
                dato.getFullYear();
              let tidspunkt =
                ("0" + dato.getUTCHours()).slice(-2) +
                ":" +
                ("0" + dato.getUTCMinutes()).slice(-2);

              return dag + " - " + tidspunkt;
            } catch (error) {
              console.log(error, "Feilmelding under lagring av dato i vue-komponent");
              return "";
            }
          },
        },

        methods: {
          // Funksjon for å åpne stort bilde når bruker trykker på knapp
          toggleStortbilde() {
            this.toggle === "yes" ? this.toggle = "no" : this.toggle = "yes";
          }
        },

        mounted() {
        },
      });

      // Funksjon for å beregne en extent basert på et punkt og en gitt avstand
      function extentCalc(kartPkt, d) {
        let x = kartPkt.x;
        let y = kartPkt.y;

        return [x - d, y - d, x + d, y + d];
      }

      // Funksjon for å lage en markør-grafikk basert på pkt og rotasjon
      function setMarker(kartpkt, retning) {
        // First create a point geometry (this is the location of the Titanic)
        var point = {
          type: "point", // autocasts as new Point()
          x: kartpkt.x,
          y: kartpkt.y,
          spatialReference: {
            wkid: 25833,
          },
        };

        // Create a symbol for drawing the point
        var markerSymbol = {
          type: "picture-marker",
          url: "https://kart.skoiddlos.com/symbologi/pil.png",
          width: 50,
          height: 50,
          angle: retning,
        };

        // Create a graphic and add the geometry and symbol to it
        var pointGraphic = new Graphic({
          geometry: point,
          symbol: markerSymbol,
        });

        return pointGraphic;
      }

      //console.log(view, "Kartet");

      // Fjerner reklame
      view.ui.remove("attribution");

      // Begrenser rotasjon av kartet 
      view.constraints = {
        rotationEnabled: false,
      };

      // Initiserer Vue-element først når kartet er lastet
      view.when(function () {
        const info = new Vue({
          el: "#info",
          data: {
            url: {},
          },
          methods: {
            hentBilde(url) {

              // Sender en request til WFS etter vegbilder
              fetch(url)
                .then((response) => {
                  // The response is a Response instance.
                  // You parse the data into a useable format using `.json()`
                  return response.json();
                })
                .then((response) => {
                  //console.log(response.features);
                  // `data` is the parsed version of the JSON returned from the above endpoint.
                  let data = response;

                  // Sjekker om response inneholder data
                  if (data.features.length !== 0) {
                    console.log(response);
                    let pkt = data.features[0].geometry.coordinates;
                    let marker = setMarker({
                        x: pkt[0],
                        y: pkt[1],
                      },
                      data.features[0].properties.RETNING
                    );
                    view.graphics.add(marker);
                    // console.log(
                    //   data.features[0].properties.URL,
                    //   "Url til vegbildet"
                    // );

                    let vegnr =
                      data.features[0].properties.VEGKATEGORI +
                      data.features[0].properties.VEGSTATUS +
                      data.features[0].properties.VEGNUMMER;

                    //Lagrer verdier
                    this.url = data;

                  } else {
                    info.url = "";
                  }
                });
            },
          },
        });
        
        // Initsierer søkefunksjon
        const searchWidget = new Search({
          view: view,
        });

        // Legger til søkefunksjon i kart-ui
        view.ui.add(searchWidget, {
          position: "top-right",
          index: 2,
        });

        //Legger til vegbilde-visningsvindu (Vue-komponent)
        view.ui.add(info.$el, "bottom-right");

        // Registrerer logikk på klikk-event i kartet
        view.on("click", function (event) {

          // Fjerner tidligere markører
          view.graphics.removeAll();

          // Henter målestokk-tall for å bruke i switch-statement
          const mapScale = view.scale

          //Hilser på variablene
          let extent;
          let klikkAreal;

          //Switch for å bestemme beste klikkAreal
          switch (true) {
            case mapScale < 4999:
              klikkAreal = 2
              break;

            case mapScale < 11000:
            klikkAreal = 6
            break;
          
            
            case mapScale < 25000:
            klikkAreal = 15
            break;
            
            case mapScale < 200000:
            klikkAreal = 30
            break;
          
            default:
              break;
          }
          
          
          try {
            extent = extentCalc(event.mapPoint, klikkAreal);
          } catch (error) {
            console.log(error), "Feilmelding under beregning av klikkpkt extent";
          }

          let url =
            "https://www.vegvesen.no/kart/ogc/vegbilder_1_0/wfs?SERVICE=WFS&REQUEST=GetFeature&VERSION=2.0.0&TYPENAMES=vegbilder_1_0:Vegbilder_2020&STARTINDEX=0&COUNT=10&SRSNAME=urn:ogc:def:crs:EPSG::25833&BBOX=" +
            extent.join(",") +
            ",urn:ogc:def:crs:EPSG::25833&outputFormat=application/json";

          info.hentBilde(url);
        });
      });
    });
  </script>
</head>

<body>
  <div id="info" class="esri-widget">
    <camera-info :url="url"> </camera-info>
  </div>
  <div id="viewDiv"></div>
</body>

</html>